{{if .ApproverName}}{{.ApproverName}}{{else}}{{.ApproverEmail}}{{end}} has approved your document.

**{{.DocumentTitle}}** {{.DocumentShortName}}
{{.DocumentOwner}} · {{.Product}}
Status: {{.DocumentStatus}} · {{.DocumentType}}

[View in Hermes]({{.DocumentURL}})

{{if .DocumentNonApproverCount}}There {{if eq .DocumentNonApproverCount 1}}is{{else}}are{{end}} {{.DocumentNonApproverCount}} more pending approval{{if ne .DocumentNonApproverCount 1}}s{{end}} for the document.{{else}}All approvers have now signed off on the {{.DocumentType}}. Please remember to move the document status to **Approved** in Hermes!{{end}}